.adminButtonsWrapper {
	width: 100%;
	padding: 24px 16px;
	background: var(--blue-700);
}

.adminButtonsWrapper > div {
	max-width: 1120px;
	margin: 0 auto;
	padding: 24px 0;

	display: flex;
	flex-direction: column;
	/* align-items: center; */
}

.adminButtonsWrapper > div > h3 {
	color: var(--white);
	font-weight: 500;
	font-size: 32px;
	margin-bottom: 0;
}

.adminButtonsWrapper > div > p {
	margin: 8px 0;
	font-size: 16px;
}

.adminButtons button + button {
	margin-left: 16px;
}

.adminList {
	max-width: 1120px;
	margin: 0 auto;
	margin-top: 48px;
	padding-bottom: 200px;
}

.adminList > h3 {
	font-weight: 400;
	font-size: 32px;
	margin-bottom: 0;
}

.adminList > table {
	width: 100%;
	margin-top: 32px;
	border-spacing: 0 0.5rem;
}

.adminList > table th {
	color: var(--blue-700);
	font-weight: 700;
	padding: 1rem 2rem;
	text-align: left;
	line-height: 1.5rem;
	font-size: 20px;
}

.adminList > table > tbody {
	width: 100%;
}

.adminList > table td {
	padding: 12px;
	border: 0;
	background: #f2f8fa;
	font-weight: 400;
	font-size: 14px;
	color: var(--blue-500);
	text-align: center;
}

.bookingClose {
	padding: 11px 24px;
}

.price {
	font-weight: 700 !important;
}
