/* DateTimePicker */
.searchAvailableVehiclesWrapper {
	width: 100%;
	padding: 24px 16px;
	background: var(--blue-700);
}

.searchAvailableVehiclesWrapper > div {
	max-width: 1120px;
	margin: 0 auto;

	display: flex;
	flex-direction: column;
}

.searchAvailableVehiclesWrapper > div > h3 {
	color: var(--white);
	font-weight: 600;
	font-size: 32px;
	margin-bottom: 16px;
}

/* MAIN CONTENT */
.bookingSummary {
	padding-top: 48px;
	padding-bottom: 100px;
	max-width: 1120px;
	margin: 0 auto;

	display: flex;
	flex-direction: column;
}

.bookingSummary > h3 {
	font-size: 32px;
	line-height: 48px;
	color: var(--blue-700);
	font-weight: 400;
	margin-bottom: 32px;

	justify-self: flex-start;
}

.bookingDates {
	display: flex;
	align-items: center;
	margin-top: 8px;
	margin-bottom: 16px;

}

.bookingDates > div {
	padding: 24px 32px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border: 1px solid var(--blue-500);
	border-radius: 4px;
}

.bookingDates > div > img {
	margin-right: 24px;
}

.bookingDates > div > span {
	color: var(--blu-700);
	font-size: 24px;
}

.bookingDates > div > strong {
	display: block;
	width: 100%;
	font-weight: bold;
	font-size: 32px;
	margin-top: 16px;
}

/* SELEÇÃO DE VEICULO */
.selectVehicle {
	margin-top: 8px;
	display: flex;
	align-items: center;
}

.bookingVehicleAvailable {
	padding: 24px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}

.bookingVehicleAvailable input {
	display: none;
}

.bookingVehicleAvailable .check {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	background: var(--blue-300);
	position: absolute;
	top: 16px;
	right: 24px;
}

