@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
	--white: #fefeff;
	--black: black;

	--yellow-500: #fede01;

	--blue-300: #d4e7ef;
	--blue-500: #016fa6;
	--blue-700: #015389;
}

* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

body {
	background: var(--white);
	-webkit-font-smoothing: antialiased;
	scroll-behavior: smooth;
}

body,
input,
button,
span,
strong,
textarea,
select {
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: var(--white);
}

h1,
h2,
h3,
h4 {
	font-family: "Poppins", sans-serif;
	color: var(--blue-700);
}

button {
	cursor: pointer;
}

a {
	color: inherit;
	text-decoration: none !important;
	cursor: pointer;
}

.buttonSubmit {
	background: var(--yellow-500);
	color: var(--blue-700);
	padding: 11px 52px;
	font-weight: 600;
	border: none;
	border-radius: 4px;
	align-self: flex-end;
	transition: filter 0.2s;
}

.buttonSubmit:hover {
	filter: brightness(0.9);
}

/* INPUT */
.input {
	width: 100%;
	border: 1px solid var(--blue-300);
	border-radius: 4px;
	padding: 8px 16px;
	color: var(--blue-700);
}

label {
	color: var(--blue-500);
	font-size: 16px;
}

label + .input {
	margin-top: 8px;
}

.input + label {
	margin-top: 16px;
}

/* ERROR */
.onError {
	display: flex !important;
	align-items: center;
	padding: 12px 24px;
	background: #ffe9e9;
	border: 1px solid #ffa5a5;
	border-radius: 4px;
	width: 100%;
	margin-top: 16px;
}

.onError > i {
	flex-shrink: 0;
}

.onError > span {
	margin-left: 16px;
	color: #ff5050;
	font-size: 16px;
}
